<!DOCTYPE html>
<html>
<head>
    <title>多文件上传</title>
</head>
<body>
<form method="POST" enctype="multipart/form-data" action="/batch/upload">
    <!--若需要选中多个文件同时上传，那么只需在input中设置属性multiple即可。multiple="multiple"-->
    <p>
        一次选择多个文件：<input type="file" name="file" multiple="multiple"/>
    </p>
    <p><input type="submit" value="上传" /></p>
</form><hr>

<form method="POST" enctype="multipart/form-data" action="/batch/uploadNew">
    <p>
        一次只选择一个文件：<input type="file" name="file"/>
    </p>
    <p><input type="submit" value="上传一个文件uploadNew" /></p>
</form><hr>

<form method="POST" enctype="multipart/form-data" action="/batch/uploadNew">
    <!--若需要选中多个文件同时上传，那么只需在input中设置属性multiple即可。multiple="multiple"-->
    <p>
        一次选择多个文件：<input type="file" name="file" multiple="multiple"/>
    </p>
    <p><input type="submit" value="上传uploadNew" /></p>
</form>
</body>
</html>